* {
  font-family: "adobe-clean", sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

:root {
  --detail-color: #ffffff;
  --text-color: #000000;
  --logo-text-color: #748d88;
  --background-footer: #000000;
}

.background {
  background: transparent url(../iStock-185031101/iStock-185031101.png) 0% 0%
    no-repeat padding-box;
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 100vw;
  height: 100vh;
  filter: brightness(0.9);
}

.nav-container {
  padding: 44px 78px 0 78px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--detail-color);
}

.nav {
  display: flex;
  font-size: 14px;
  opacity: 0.6;
  letter-spacing: 2px;
  gap: 25px;
  height: 23px;
}

.logo img {
  width: 455px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  bottom: 6%;
  left: 5%;
  transform: translateX(-4.8%);
  color: var(--detail-color);
  margin: auto 78px 104.51px 78px;
}

.content-heading {
  font-weight: bold;
  font-size: 5.8em;
  max-width: 70%;
  margin: 0 0 20px 0;
}

.content-text {
  max-width: 51%;
  font-size: 2.85em;
}

.arrow-button {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 2%;
  left: 50%;
  color: var(--detail-color);
}
.arrow-button img {
  width: 40px;
  height: 40px;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 74%;
  margin: 90px 78px auto 78px;
}

.description {
  font-size: 4em;
  margin: auto auto 25px auto;
}

.details {
  width: 71%;
  font-size: 1.56em;
}

.image-details {
  padding: 120px 78px 88px 78px;
}

.image-details img {
  width: 100%;
  height: 800px;
}

.text-details {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 190px;
  padding: 0 78px 90.21px 78px;
}

.text-left {
  font-size: 1.66em;
  width: 30%;
}

.first-text {
  font-size: 0.7em;
  margin-bottom: 20px;
  font-weight: bold;
}

.text-right {
  font-size: 1.68em;
  width: 70%;
}

.image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: end;
  justify-content: flex-end;
  gap: 16px;
}
.img-left {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  position: relative;
  top: 140px;
}
.img-right {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 87.24px;
}
.img-right img {
  width: 1000px;
  height: 1017px;
  max-width: 100%;
}
.img-left img {
  width: 600px;
  height: 700px;
  max-width: 100%;
}
.text-container {
  flex-direction: column;
  gap: 20px;
  display: flex;
  font-size: 24px;
  justify-content: flex-end;
  margin: 0 78px 140px 1060px;
  width: 700px;
}
.font-size-large {
  font-size: 49px;
}
.logo-color {
  color: var(--logo-text-color);
}
.logo-color::before {
  content: "WERDEN SIE FRANCHISEPARTNER";
  display: inline-block;
}
.footer-background {
  display: flex;
  flex-direction: column;
  background-color: var(--background-footer);
  opacity: 0.8;
  color: var(--detail-color);
  height: 100%;
  padding: 131.14px 78px 118.7px 78px;
  .footer-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 142px;
    margin-bottom: 108.75px;
  }
  .title-heading-FAQs {
    font-size: 4em;
    width: 48%;
    font-weight: normal;
  }
  .title-content {
    font-size: 1.7em;
    width: 40%;
  }
  .footer-subtitle {
    margin-top: 20px;
    font-size: 1.29em;
    margin-bottom: 40px;
    width: 75%;
  }
  .footer-content {
    margin-top: 20px;
    font-size: 1.3em;
    margin-bottom: 40px;
    width: 75%;
  }
  .footer-note {
    margin-top: 20px;
    font-size: 1.29em;
    margin-bottom: 40px;
    width: 75%;
  }
  .footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.29em;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 120px;
    .contact-heading {
      font-size: 2.5em;
      margin-bottom: 20px;
    }
    .button-logo {
      margin-top: 40px;
      width: 280px;
    }
  }
  .footer-heading-margin {
    margin-bottom: 20px;
  }
  .subtitle-heading,
  .footer-content-heading,
  .note-heading {
    margin-bottom: 20px;
  }
}
.ending {
  margin: 150px 78px 29px 78px;
  .logo-ending {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    img {
      width: 400px;
    }
  }
  .ending-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 631px;
    font-size: 1.29em;
    opacity: 0.7;
    margin-top: 50px;
    .margin-left-30px {
      margin-right: 30px;
    }
  }
}
.logo-color::before {
  content: "";
}

.nav-container-moblie,
.content-moblie,
.destop-moblie,
.moblie-tag,
.img-moblie {
  display: none;
}

@media (max-width: 768px) {
  .nav,
  .logo,
  .content,
  .arrow-button,
  .hidden-text,
  .destop-contact {
    display: none;
  }

  .nav-container {
    padding: 0;
  }
  .background {
    max-height: 55vh !important;
    max-width: 100vw !important;
    position: relative;
    filter: brightness(0.6);
  }
  .nav-container-moblie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20.19px 21px 0 20px;
  }
  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
    cursor: pointer;
  }
  .menu-icon span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--detail-color, transparent);
    border-radius: 5px;
  }
  .logo-moblie {
    display: inline-block;
  }
  .logo-moblie img {
    width: 67vw;
    height: auto;
  }
  .content-moblie {
    display: flex;
    flex-direction: column;
    min-height: 35vh;
    margin: 24.51px 21px 0 20px;
    overflow-x: hidden;
  }
  .content-heading {
    font-size: 9.78vw;
    max-width: 100%;
    width: 69.67vw;
  }
  .content-text {
    font-size: 5.9vw;
    max-width: 100%;
    width: 74vw;
  }
  .arrow-button-moblie {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
  }
  .arrow-button-moblie img {
    width: 40px;
    height: auto;
  }
  .main-content {
    width: 94%;
    margin: 90px 21px 0 20px;
  }
  .description {
    font-size: 2.05em;
  }
  .details {
    width: 96%;
    font-size: 1.15em;
  }
  .image-details {
    padding: 76px 21px 42px 20px;
  }
  .image-details img {
    height: 300px;
  }
  .text-details {
    flex-direction: column;
    font-weight: bold;
    align-items: normal;
    gap: 0;
    font-size: 18px;
    padding: 0 0 0 20px;
  }
  .first-text {
    font-size: 14px;
  }
  .text-left {
    width: 81%;
    padding: 0 70px 30px 0;
  }
  .text-right {
    font-weight: normal;
    width: 92%;
    font-size: 17.8px;
    padding: 0 21px 56.21px 0;
  }
  .image-container {
    gap: 10px;
    padding-bottom: 40.14px;
  }
  .img-left {
    padding: 0 0 0 20px;
    position: unset;
  }
  .img-right {
    padding-bottom: 30px;
  }
  .img-left img {
    width: 127.69px;
    height: 162.07px;
    max-width: 100%;
  }
  .img-right img {
    width: 271.7px;
    height: 277px;
    max-width: 100%;
  }
  .text-container {
    margin: 0 21px 56.81px 106px;
    gap: 30px;
    width: 70%;
  }
  .font-size-large {
    font-size: 33px;
  }
  .font-size-medium {
    font-size: 19px;
  }
  .logo-color::before {
    content: "WERDEN SIE FRANCHISEPARTNER";
    display: inline-block;
  }
  .footer-background {
    .img-moblie {
      display: block;
    }
    padding: 56.81px 21px 0 20px;
    .footer-title {
      flex-direction: column;
      gap: 24.75px;
      margin-bottom: 70px;
      .title-heading-FAQs {
        font-size: 2.2em;
        width: 100%;
        font-weight: normal;
      }
      .title-content {
        font-size: 1.1em;
        width: 95%;
      }
    }
    .footer-subtitle {
      font-size: 1.15em;
      width: 100%;
      .subtitle-heading {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        font-size: 1.1em;
        margin-bottom: 20px;
        img {
          height: 15px;
        }
      }
    }
    .footer-content {
      width: 100%;
      font-size: 1.15em;
      .footer-content-heading {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 20px;
        .heading-width {
          width: 72%;
        }
      }
      .hidden-text {
        display: none;
      }
    }
    .footer-note {
      width: 100%;
      font-size: 1.15em;
      .note-heading {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }
    }
    .footer-contact {
      margin-top: 70px;
      .contact-heading {
        font-size: 1.8em;
        margin-bottom: 20px;
        font-weight: normal;
      }
      .destop-moblie {
        display: block;
        line-height: 1.5;
        font-size: 0.9em;
      }
      .button-logo {
        width: 190px;
      }
    }
  }
  .ending {
    margin: 78.73px 21px 50px 20px;
    .logo-ending {
      margin-bottom: 25.31px;
    }
    .logo-ending img {
      width: 240px;
    }
    .ending-container {
      .destop-ending {
        display: none;
      }
      .moblie-tag {
        display: block;
        margin-bottom: 20px;
      }
      .logo-color::before {
        content: "";
      }
      .margin-left-30px {
        margin-right: 0;
      }
      flex-direction: column;
      text-align: center;
      gap: 5px;
    }
  }
}
