* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "adobe-clean", sans-serif;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0 78px 0 78px;

  .nav-container {
    padding: 25px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .nav-item {
      display: flex;
      font-size: 1.4em;
      opacity: 0.6;
      letter-spacing: 2px;
      gap: 25px;

      .bold {
        opacity: 1;
        font-weight: bold;
      }
    }

    .logo img {
      width: 455px;
    }
  }

  .page-heading {
    display: flex;
    flex-wrap: wrap;
    margin: 74px 502px 0 0;
    width: 61%;
    font-size: 3.83em;
  }

  .image-center {
    margin-top: 63px;
    width: 91vw;
    height: 900px;
  }

  .brand-title {
    margin: 77px 0 30px 0;
    font-size: 3.6em;
    font-weight: bold;
    width: 649px;
  }

  .brand-description {
    width: 69vw;
    font-size: 1.6em;
    padding-bottom: 114px;
  }
}

.image-container {
  display: flex;
  justify-content: flex-end;
  gap: 16px;

  .image-left {
    position: relative;
    top: 580px;
  }

  .image-right img {
    width: 940px;
    height: 950px;
  }

  .image-left img {
    width: 570px;
    height: 670px;
  }
}

.image-description {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 20px;
  margin: 87px 78px 115px 1000px;
  font-size: 2em;
  width: 40vw;

  .font-large {
    font-size: 2.2em;
  }

  .font-medium {
    font-size: 0.84em;
  }
}

.philosophy-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #748d88;
  margin: 0 78px 155px 78px;
  gap: 20px;
  min-height: 560px;
  min-width: 90%;
  .philosophy-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    padding: 0 0 0 61px;
    width: 30%;
    min-height: 60vh;
    .philosophy-title {
      font-size: 3.5em;
      padding-bottom: 20px;
      font-weight: normal;
    }
    .philosophy-description {
      font-size: 1.38em;
    }
  }
  .philosophy-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    min-height: 100%;
    width: 60%;
    padding: 80px 95px 0 0;

    .philosophy-feature {
      display: flex;
      flex-direction: column;
      flex: 32%;
      font-size: 1.7em;
      .philosophy-icon {
        margin-bottom: 30px;
      }
      .philosophy-icon img {
        height: 116px;
        width: 110px;
      }
      .philosophy-text {
        color: #ffffff;
      }
    }
  }
}
.container {
  .pre-footer {
    text-align: center;
    font-size: 1.7em;
    color: #000000;

    .pre-footer-content {
      opacity: 0.8;
      font-size: 2.4em;
      margin-bottom: 10px;
    }

    .pre-footer-description {
      font-size: 0.98em;
      padding: 0 95px 40px 95px;
    }
  }
  .pre-footer img {
    width: 190px;
    height: 44px;
  }

  .footer {
    margin-top: 140px;

    .footer-logo {
      display: flex;
      justify-content: center;
      padding-bottom: 40px;

      ing {
        width: 249px;
        height: 54px;
      }

      hr {
        color: #748d88;
      }
    }

    .footer-content {
      display: flex;
      justify-content: space-between;
      font-size: 2em;
      padding: 40px 0 30px 0;

      .footer-description-left {
        opacity: 0.6;
        .tooter-first-text {
          padding-right: 30px;
        }
      }

      .footer-description-right {
        color: #748d88;
      }
    }
  }
}

.page-heading-mobile,
.description-heading-mobile,
.footer-description-mobile {
  display: none;
}

// Moblie

@media (max-width: 768px) {
  .container {
    padding: 20px 20px 0 20px;

    .nav-container {
      .nav-item {
        display: none;
      }

      .nav-menu-mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 35px;
        height: 25px;
        cursor: pointer;
      }

      .nav-menu-mobile span {
        display: block;
        background-color: black;
        border-radius: 5px;
        width: 100%;
        height: 4px;
      }

      .logo img {
        width: 246px;
      }
    }
    .page-heading {
      margin: 40px 0 0 0;
      font-size: 1.96em;
      width: 100%;

      .page-heading-desktop {
        display: none;
      }
      .page-heading-mobile {
        display: block;
      }
    }

    .image-center {
      margin-top: 30px;
      width: 390px;
      height: 290px;
    }

    .brand-title {
      letter-spacing: 2px;
      font-size: 1.8em;
      font-weight: 400;
      width: 100%;
      margin: 62px 0 17px 0;
    }
    .brand-description {
      font-weight: 350;
      width: 100%;
      font-size: 1.17em;
      padding-bottom: 60px;
    }
  }

  .image-container {
    gap: 5px;
    .image-left {
      top: 160px;
    }
    .image-right img {
      width: 245px;
      height: 251px;
    }
    .image-left img {
      width: 150px;
      height: 162px;
    }
  }

  .image-description {
    margin: 113px 21px 84px 106px;
    width: 71%;

    .font-large {
      display: none;
    }
    .description-heading-mobile {
      display: block;
      font-size: 1.1em;
    }
    .font-medium {
      font-size: 0.6em;
    }
  }

  .philosophy-section {
    margin: 0 0px 74px 0;

    .philosophy-content {
      padding: 54px 21px 0 20px;
      width: 100%;
      min-height: 100%;

      .philosophy-title {
        font-size: 2.2em;
        padding-bottom: 13px;
      }
      .philosophy-description {
        font-size: 1.19em;
      }
    }

    .philosophy-container {
      padding: 45px 38px 86px 20px;
      width: 100%;
      .philosophy-feature {
        flex: 50%;
        font-size: 1.1em;
        margin: 0 0 43px 0;

        .philosophy-icon {
          margin-bottom: 14px;
        }
      }
    }
  }
  .container {
    .pre-footer {
      font-size: 1em;

      .pre-footer-description {
        padding: 0 0 32px 0;
        font-size: 1.15em;
        word-spacing: 2px;
      }
    }

    .footer {
      margin-top: 102px;

      .footer-logo {
        padding-bottom: 30px;
      }

      .footer-content {
        flex-direction: column;
        font-size: 1em;
        padding: 30px 0 37px 0;
        .footer-description-left {
          display: none;
        }

        .footer-description-mobile {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-bottom: 20px;
          gap: 6px;
          opacity: 0.4;
        }

        .footer-description-right {
          @include flex-center();
        }
      }
    }
  }
}
